.form {
    background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
border-radius: 10px;
padding: 25px 25px 39px 25px; /* Добавляем отступы внутри формы для внешнего вида */
  display: flex; /* Устанавливаем flex-контейнер для выравнивания элементов */
  flex-direction: column; /* Устанавливаем вертикальное направление для элементов */
  
max-width: 429px;
max-height: 523px;
margin-right: 81px;
z-index: 1;
}
.links_container{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;
text-align: center;

color: #029491;
display: flex;
justify-content: space-between;
}
.link1{
line-height:normal;
padding-right: 0;
}
.link2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    
    color: #C7C7C7;
}
.login{
margin-top: 40px;
}
.label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    
    color: #949494;
}
.input{
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    width: 379px;;
    height: 43px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.button_service{
    color: white;
     width: 335px;
     height: 59px;
     font-size: 22px;
     line-height: 27px;
     
     border: none;
     letter-spacing: 0.01em;
     margin: 0 auto;
 }

 .button_service:disabled{
    opacity: 0.5;
 }
 .link3{
    margin-top: 15px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;


letter-spacing: 0.02em;
text-decoration-line: underline;

color: #5970FF;

 }
 .entrance{
margin-top: 30px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;

color: #949494;

 }
 .options{
display: flex;
justify-content:space-around;
 }
 .err{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: 0.01em;
    text-align: center;
    color: #FF5959;
}

.input:required{
    background: #FFFFFF;
border: 1px solid #FF5959;
box-shadow: 0px 0px 20px rgba(255, 89, 89, 0.2);
border-radius: 5px;
}