.footer {
    background-color: #029491;
    height: 137px;
    ;
    position: absolute;
    
    width: 100%;
}

.footer_content {
    padding: 0 60px;
    display: flex; /* Используем flex-контейнер */
  justify-content: space-between; 
}

.scan {
    width: 141px;
    height: 111px;
    left: 60px;
    top: -24px;
    
    background-image: url("../../asset/Rectangle 7.svg");
}

.right {
    color: white;
    text-align: right;
}

li{
    list-style-type: none;
}
